

.uk-logo {
  font-size: 2.50rem !important;
 color: white !important;
}

.uk-navbar-nav li {
 color: white !important;
}
.uk-navbar-nav>li>a {
 color: white !important;
}

.hamburger {
 color: white !important;
}